@import url(vendor/bootstrap.min.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #222;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
}
.header{
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  /* border: 1px solid #222; */
  /* background: linear-gradient(178deg, rgb(218,0,168), rgb(0, 0, 104)); */
  margin-block-end: 10px;
  border-radius: 32px;

}
.header h1{
  margin-top: 16px;
  padding-bottom: 0;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
}
.header__inputs{
  text-align: center;
}
.productDescription,
.productPrice{
  width: calc(50% - 5px);
  margin-right: 10px;
}
.productCategory,
.productQuantity{
  width: calc(50% - 5px);
}
.product__btn
{
  border: 1px solid #222;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background: rgb(34, 14, 150);
  color: #ffffff;
  z-index: 1;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
  margin-inline: auto;
}
.delete__btn{
  border: 1px solid #222;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background: rgb(34, 14, 150);
  color: #ffffff;
  z-index: 1;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
  margin-inline: auto;
}
.icon__btn,
.delete__icon{
  display: none;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.product__btn::before{
  content:"";
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(5 167 10);
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.product__btn:hover .text__btn,
.delete__btn:hover .delete__text{
  display: none;
}
.product__btn:hover .icon__btn,
.delete__btn:hover .delete__icon{
  display: inline;
}
.product__btn:hover::before,
.delete__btn:hover::before{
  left: 0;
}
.delete__btn::before{
  content:"";
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(201, 26, 10);
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
input{
  transition: all 0.3s !important;
}
input:focus{
  transform: scale(1.02);
  box-shadow: none !important;
  border-color: none !important;
}


.btn__delete__item{
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  background: rgb(201, 26, 10);
  color: white;
}
.btn__update__item{
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(34, 14, 150);
  color: #ffffff;
}
.output{
  overflow: auto;
}

@media only screen and (max-width : 576px) {
  .table{
    font-size: 14px;
  }
}